#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 10px;
}

.signout-btn {
  position: absolute;
  text-align: right;
  top: 20px;
  right: 20px;
}

.check{
  text-align: center;
  margin-top: -10px;
}

.form {
  padding-right: 10%;
  padding-left: 10%;
}

.footerCard {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.close{
  margin-top: 0px;
  margin-right: 10px;
}

.event-card {
  border: 2px solid #2c3e50;
  margin-top: 10px;
  border-radius: 4px;
}
