<template>
  <div class="">
    <div class="form">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" v-model="todo.title">
      </div>
      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" v-model="todo.date">
      </div>
      <div class="form-group">
        <label>Assignee:</label>
        <select class="form-control" v-model="todo.Assignee">
          <option v-for="thisUser in allUsers" v-bind:key="thisUser['.key']"> {{thisUser.email}} </option>
        </select>
      </div>
      <button class="btn-sm btn-primary" @click="addTodo">Submit</button>
    </div>
  </div>
</template>
<script>
  import { eventsRef } from '../config/db'
  import { messaging } from 'firebase';
  import { db } from '../config/db';

  export default {
    data() {
      return {
        allUsers:[],
        todo: {
          title: '',
          date: '',
          done: false,
          email: '',
          Assignee:'',
          start:0,
          start_task:false,
          finish: 0,
          duration:0
        }
      }
    },
    firebase: {
      allUsers: db.ref('allUsers')
    },
    methods: {
      addTodo() {
        if (this.todo.title != "" && this.todo.Assignee != "" && this.todo.Assignee != "") {
          this.todo.email = this.$store.state.user.email;
          eventsRef.push(this.todo);
          this.todo.title='';
          this.todo.Assignee ='';
          this.todo.date = '';
        }
        else{
            console.log("eeeeerrrrrrrr");
        }
      }
    }
  }
</script>

