<template>
  <div>
    <button class="btn btn-danger signout-btn" @click="signOut">Sign Out </button>
  <div>
  <h4> welcome {{ this.$store.state.user.email }}</h4>
  <tabs>
    <tab name="Home">
      <button class="btn btn-success" type="button" @click="openDialog">
        Add New Task
      </button>
      <a11y-dialog id="app-dialog" app-root="#app" @dialog-ref="assignDialogRef">
        <h2 align = "center">Add New Task</h2>
        <AddEvent/>
      </a11y-dialog>
      <Home />
    </tab>
    <tab name="My Tasks">
        <MyTasks/>
    </tab>
    <tab name="Statistics">
        <Statistics/>
    </tab>
  </tabs>
  </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
  </div>
</template>


<script>
import { app, eventsRef } from '../config/db';
import AddEvent from './AddEvent.vue';
import Home from './Home.vue';
import MyTasks from './MyTasks.vue';
import Statistics from './Statistics.vue';

import Vue from 'vue';

import {Tabs, Tab} from 'vue-tabs-component';

Vue.component('tabs', Tabs);
Vue.component('tab', Tab);

export default {
  data() {
      return {
        home:true,
        mytask:false,
        Statistics:false
      }
    },
  firebase: {
    todos: eventsRef
  },
  methods: {
    data: () => ({
      dialog: null,
    }),
    signOut() {
      this.$store.dispatch('signOut')
      app.auth().signOut()
    },
    openDialog() {
      if (this.dialog) {
        this.dialog.show()
      }
    },
    assignDialogRef (dialog) {
      this.dialog = dialog
    },

  },
  components: {
    AddEvent,
    Home,
    MyTasks,
    Statistics
  },
  mounted() {
    eventsRef.on('value', snap => {
      let todos = []
      snap.forEach(todo => {
        todos.push(todo.val())
      })
      this.$store.dispatch('setEvents', todos)
    })
  }
}
</script>

