<template>
  <table class="table table-striped">
    <thead>
      <tr style="color:white">{{c}}</tr>
      <tr>
        <th scope="col">title</th>
        <th scope="col">Assigne To</th>
        <th scope="col">done</th>
        <th scope="col">start</th>
        <th scope="col">finish</th>
        <th scope="col">duration</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody v-for="todo of todos" :key="todo['.key']">
      <tr >
        <td>{{todo.title}}</td>
        <td>{{todo.Assignee}}</td>
        <td><input type="checkbox" :checked="todo.done"></td>
        <td>{{todo.start | parsDate}}</td>
        <td v-if ="todo.start_task && !todo.done" >{{todo.start | parsStartDateNow}}</td>
        <td v-else>{{todo.finish | parsDate}}</td>
        <td v-if ="todo.start_task && !todo.done" >{{todo.start | parsStartDate}}</td>
        <td v-else>{{todo.duration}} </td>
        <td>
          <button v-show="!todo.start_task && !todo.done" type="button" @click="startTask(todo,todo['.key'])">
            <span> start </span>
          </button>

          <button v-show="todo.start_task && !todo.done" type="button" @click="stopTask(todo,todo['.key'])">
            <span> stop </span>
          </button>

          <button v-show="todo.start_task && todo.done" type="button" @click="continueTask(todo,todo['.key'])">
            <span> continue </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  import { db } from '../config/db';

  export default {
    filters: {
      parsStartDate(item){
       if (item != 0) {
            let date = new Date();
            let start = new Date(item);
            let dateStr=  `${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
            let startStr= `${start.getFullYear()}/${start.getMonth() + 1}/${start.getDate()} ${start.getHours()}:${start.getMinutes()}:${start.getSeconds()}`;
            let diff = Math.abs(new Date(dateStr) - new Date(startStr));
            let sa = Math.floor(diff/ 1000)
            let sb = Math.floor(((sa/60) - Math.floor(sa/60))*60);
            let m = Math.floor((((sa/60)/60)-Math.floor((sa/60)/60))*60);
            let h = Math.floor((sa/60)/60);
            return `${h}:${m}:${sb}`;
          }
          else{
            console.log("error in parsStartDate");
          }
      },
      parsStartDateNow(item){
       if (item != 0) {
            let date = new Date();
            let dateStr=  `${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
            return dateStr;
          }
          else{
            console.log("error in parsStartDate");
          }
      },
      parsDate(date){
        if (date != 0){
          let inputDate = new Date(date);
          return `${inputDate.getFullYear()}/${inputDate.getMonth() + 1}/${inputDate.getDate()} ${inputDate.getHours()}:${inputDate.getMinutes()}:${inputDate.getSeconds()}`;
        }
        else{
          return 0
        }
      }
    },
    components: {
        name: 'Home.vue'
    },
    data() {
      return {
        todos: [],
        timer: '',
        c:0
      }
    },
    firebase: {
      todos: db.ref('todos')
    },
    methods: {
      updateTodos(todo,key,InDone,InStart,InStart_task,InFinish,InDuration){
        this.$firebaseRefs.todos.child(key).set({
          title: todo.title,
          date: todo.date,
          done: InDone,
          email: todo.email,
          Assignee: todo.Assignee,
          start: InStart,
          start_task:InStart_task,
          finish: InFinish,
          duration: InDuration
        });
      },
      startTask(todo,key){
        let date = new Date();
        this.updateTodos(todo,key,false,date.toString(),true,0,"0");
      },
      stopTask(todo,key){
        let date = new Date();
        this.updateTodos(todo,key,true,todo.start,true,date.toString(),this.compareDate(todo.start,date.toString()));
      },
      continueTask(todo,key){
        this.updateTodos(todo,key,!todo.done,todo.start,true,0,todo.duration);
      },
      compareDate(startDate,finishDate){
        if (startDate != 0 && finishDate != 0) {
          let date = new Date(finishDate);
          let start = new Date(startDate);
          let dateStr=  `${date.getFullYear()}/${date.getMonth() + 1}/${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
          let startStr= `${start.getFullYear()}/${start.getMonth() + 1}/${start.getDate()} ${start.getHours()}:${start.getMinutes()}:${start.getSeconds()}`;
          let diff = Math.abs(new Date(dateStr) - new Date(startStr));
          let sa = Math.floor(diff/ 1000)
          let sb = Math.floor(((sa/60) - Math.floor(sa/60))*60);
          let m = Math.floor((((sa/60)/60)-Math.floor((sa/60)/60))*60);
          let h = Math.floor((sa/60)/60);
          return `${h}:${m}:${sb}`;
        }
        else{
          return 0;
        }
      }
    },
    created() {
      setInterval(() => {this.c++}, 100)
    }
  }
</script>
