<template>
  <div class="from-inline">
   <h3> Sign Up</h3>
   <div class="form-group">
     <input
      type="text"
      placeholder="email"
      class="form-control"
      v-model="email"
      />
      <input
        type="password"
        placeholder="password"
        class="form-control"
        v-model="password"
        />
        <br>
        <button class="btn btn-primary" @click="signUp">Sign Up</button>
   </div>
   <br>
   <router-link to="/signin">Already a user? Sign In</router-link>
    <br>
   <p>{{ error.message }}</p>
  </div>
</template>

<script>
import { app , allUsersRef } from '../config/db';
export default {
   data() {
    return {
      users:{email:''},
      email: '',
      password: '',
      error: {
        message: ''
      }
    }
  },
  methods: {
    signUp() {
      app.auth().createUserWithEmailAndPassword(this.email, this.password)
      .catch(error => {
        this.error = error
      });
      this.users.email = this.email;
      allUsersRef.push(this.users);
    }
  }
}
</script>
