<template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Person</th>
        <th scope="col">Tasks</th>
        <th scope="col">Total Time</th>
      </tr>
    </thead>
    <tbody v-for="item of tasks" :key="item['.key']">
      <tr>
        <td>{{item.person}}</td>
        <td>{{item.totalTask}}</td>
        <td>{{item.totalDuration}}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
  import { db } from '../config/db';

  export default {
    filters: {
      parsDate(date){
        if (date != 0){
          let inputDate = new Date(date);
          return `${inputDate.getFullYear()}/${inputDate.getMonth() + 1}/${inputDate.getDate()} ${inputDate.getHours()}:${inputDate.getMinutes()}:${inputDate.getSeconds()}`;
        }
        else{
          return 0
        }
      }
    },
    components: {
        name: 'Statistics.vue'
    },
    data() {
      return {
        allUsers: [],
        todos: [],
        tasks: [],
        count : 0,
        time : "00:00:00"
      }
    },
    firebase: {
      todos: db.ref('todos'),
      allUsers: db.ref('allUsers')
    },
    methods:{
      sumTasks(){
        this.tasks=[];
        for ( let user of this.allUsers )
        {
          this.count = 0;
          var hour=0;
          var minute=0;
          var second=0;
          for (let todo of this.todos )
          {
            if ( todo.done && todo.Assignee == user.email )
            {
              this.count++;
              var splitTime= todo.duration.split(':');
              hour = hour + parseInt(splitTime[0]);
              minute = minute + parseInt(splitTime[1]);
              second = second + parseInt(splitTime[2]);
            }
          }
          hour = parseInt(hour + minute/60);
          minute = minute%60;
          minute = parseInt(minute + second/60);
          second = second%60;
          let task ={
            person:user.email,
            totalTask:this.count,
            totalDuration : hour+':'+minute+':'+second
          };
          this.tasks.push(task);
        }
      },
    },
    created() {
      setInterval(() => {this.sumTasks()}, 1000)
    }
  }
</script>
