<template>
  <div id="app" class="container">
    <div class="gap">
      <router-view></router-view>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
  </div>
</template>


<style lang="css">
  @import './index.css';
</style>

<script>
  export default {
    name: 'app'
  }
</script>
